nav {
  background: rgba(112, 111, 111, 0.185);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
nav a,
p {
  background-color: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
nav p:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
nav a.active {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

/* small devices */
@media screen and (max-width: 600px) {
  nav {
    width: 90%;
    gap: 0.1rem;
    margin: auto;
  }
}
